.input {
    width: 600px;
    height: 60px;
    border: 10px solid #FFFFFF;
    border-radius: 18px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
    font-family: 'VT323', monospace;
    font-size: 36px;
    outline: none;
}

