.dica {
    width: 300px;
    height: auto;
    padding: 5px;
    border-radius: 18px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    background-color: #319CFF;
}