.circuloDica {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #319CFF;
    border: 10px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagemPokemon {
    width: 100%;
    height: auto;
}