/* Importação das fontes utilizadas no projeto */
/* Inter */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: crimson;
  background-image: url('./assets/images/background.png');
  background-size: cover;
  font-family: 'VT323', monospace;
}

.container {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
